.navplayer2 ul.player2ul{float:right;position:relative;display:none}.tool-item{height:100%;text-align:center;padding:10px;transition:none;text-decoration:none;color:#fff;display:none}.kln.klmr{margin-left:0;display:none}#sidebar .section .textwidget{padding:0;padding-bottom:0;padding-bottom:0;line-height:normal;font-size:13px;display:none}select.mirror{float:left;border:1px solid #0e0d13;border-radius:4px;color:#ddd;padding:3px;font-family:inherit;font-size:13px;font-weight:300;background:#0e0d13;display:none}.idmuvi-topbanner-aftermenu{margin-bottom:10px;text-align:center;display:none}.idmuvi-banner-insidecontent{margin-bottom:10px;display:none}.idmuvi-banner-aftercontent{margin-bottom:10px;display:none}.gmr-social-icon{margin:0 0 10px;padding:0;display:none}#list-server-more{z-index:1;padding:10px 0 0 0;position:absolute;color:#fff;top:0;right:8px;text-align:right;font-family:Arial,Helvetica,sans-serif;display:none}.infeed-ads{padding:0 0 18px;display:none}.gmr-topbanner{padding-top:18px;display:none}.gmr-banner-afterrelpost{background-color:#fff;padding:0 0 14px;display:none}.customizable-background{background-color:#fff!important;display:none}.blox.kln{margin:0 auto;max-width:1150px;display:none}.video-nav{overflow:hidden;margin-bottom:15px;display:none}#list-server-more{z-index:1;padding:10px 0 0 0;position:absolute;color:#fff;top:0;right:8px;text-align:right;font-family:Arial,Helvetica,sans-serif;display:none}
.gmr-notification {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 5px 10px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}
